{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prose-scope">
      <div class="govuk-body" data-testid="app-page-body">
        <h2>Audit events</h2>
      </div>
    </div>
  </div>
{% endblock %}
